body{
    margin: 0;
    padding: 0;
    background: url(../img/bg.jpg);
    background-size: cover;
    background-position: auto;
    font-family: sans-serif;
}

header {
    background:#35344b;
    color:#fff;
}

aside  {
    background:#35344b;
    color:#fff;
}

nav {
    font-size: x-large;
    font-weight: bold;
}

/* lugar reservado para la publicidad en la parte derecha de la pantalla */
.publicidad{
  width: 20%;
  height: 85%;  /*Cambiar para que se ajuste automaticamente al 100% de la pantalla */
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  left: 80%;
  /* top: 0; */
  position: absolute;
  box-sizing: border-box;
}

    /* texto del index */
.textoprincipal{
  margin-top: 10%;
  margin-left: 36%; 
  color: #35344b;
}

    /* ajustes del contenido en alumnos.php y profesores.php */
.archivos{
  padding-right: 21%;
  padding-left: 2%;
  margin-top: 5%
}

.menadmin{
  width: 20%;
  height: auto;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  right: 78%;
  /* top: 125px; */
  position: absolute;
  box-sizing: border-box;
}

.contenido{
  width: 74%;
  height: auto;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  left: 24%;
  /* top: 125px; */
  position: absolute;
  box-sizing: border-box;
}

.asdf{
    color: rgb(255, 255, 255);
}

a {
    color: #35344b;
  }
  
  a:hover {
    color: #35344b;
    text-decoration: none;
  }